<p style="color: green"><%= notice %></p>

<div class="container mt-5">
  <h2>Lista de Clientes</h2>

  <%= link_to "Agregar Cliente", new_client_path, class: 'btn btn-primary mb-3' %>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Email</th>
        <th>Teléfono</th>
        <th>Motocicletas</th>
        <th>Status de Motos</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% @clients.each do |client| %>
        <tr>
          <td><%= client.id %></td>
          <td><%= "#{client.first_name} #{client.last_name}" %></td>
          <td><%= client.email %></td>
          <td><%= client.phone %></td>
          <td><%= client.motorcycles.count %></td>
          <td>
            <% client.motorcycles.each do |motorcycle| %>
              <p>
                <strong><%= motorcycle.name %>:</strong> 
                <% case motorcycle.status %>
                  <% when 'Recepción' %>
                    <span class="badge text-bg-primary"><%= motorcycle.status %></span>
                  <% when 'Diagnóstico Inicial' %>
                    <span class="badge text-bg-secondary"><%= motorcycle.status %></span>
                  <% when 'Asignado Mecánico' %>
                    <span class="badge text-bg-info"><%= motorcycle.status %></span>
                  <% when 'Pendiente de Piezas' %>
                    <span class="badge text-bg-warning"><%= motorcycle.status %></span>
                  <% when 'En Espera de Aprobación del Cliente' %>
                    <span class="badge text-bg-light"><%= motorcycle.status %></span>
                  <% when 'En Reparación' %>
                    <span class="badge text-bg-danger"><%= motorcycle.status %></span>
                  <% when 'Prueba de Rodaje' %>
                    <span class="badge text-bg-success"><%= motorcycle.status %></span>
                  <% when 'Ajuste de Detalles' %>
                    <span class="badge text-bg-dark"><%= motorcycle.status %></span>
                  <% when 'Entrega al Cliente' %>
                    <span class="badge text-bg-success"><%= motorcycle.status %></span>
                  <% when 'Estado Desconocido' %>
                    <span class="badge text-bg-secondary"><%= motorcycle.status %></span>
                  <% else %>
                    <span class="badge text-bg-info"><%= motorcycle.status %></span>
                <% end %>
              </p>
            <% end %>
          </td>
          <td>
            <%= link_to 'Seleccionar', client_path(client), class: 'btn btn-outline-primary' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


