<p style="color: green"><%= notice %></p>

<div class="container">
  <div class="row">

    <!-- Cliente -->
    <div class="col-lg-4 col-md-12">
      <h5>DATOS DEL CLIENTE</h5>
      <%= render @client %>
      <div class="col-12 d-flex justify-content-around mt-2">
        <%= link_to "Editar cliente", edit_client_path(@client), class: 'btn btn-outline-primary btn-sm mx-1' %>
        <%= link_to "Ver clientes", clients_path, class: 'btn btn-outline-secondary btn-sm mx-1' %>
        <%= button_to "Eliminar", @client, method: :delete, class: 'btn btn-outline-danger btn-sm mx-1' %>
      </div>
    </div>

    <!-- Dirección de Entrega -->
    <div class="col-lg-4 col-md-6">
      <h5>DIRECCIÓN DE ENTREGA</h5>
      <div class="container mt-4">
        <div class="row">
          <% if @client.addresses.where(address_type: 'shipping').any? %>
            <% @client.addresses.where(address_type: 'shipping').each do |address| %>
              <% if address.status == true %>
                <div class="col-12">
                  <p>
                    <strong class="strong-text">Nombre:</strong><br>
                    <%= address.street %>
                  </p>
                </div>
                <div class="col-12">
                  <p>
                    <strong class="strong-text">Calle:</strong><br>
                    <%= address.street %>
                  </p>
                </div>
                <div class="col-md-6">
                  <p>
                    <strong class="strong-text">No. exterior:</strong><br>
                    <%= address.ext_number %>
                  </p>
                </div>
                <div class="col-md-6">
                  <p>
                    <strong class="strong-text">No. interior:</strong><br>
                    <%= address.int_number %>
                  </p>
                </div>
                <div class="col-12">
                  <p>
                    <strong class="strong-text">Municipio:</strong><br>
                    <%= address.municipality %>
                  </p>
                </div>
                <div class="col-md-6">
                  <p>
                    <strong class="strong-text">Ciudad:</strong><br>
                    <%= address.city %>
                  </p>
                </div>
                <div class="col-md-6">
                  <p>
                    <strong class="strong-text">Código postal:</strong><br>
                    <%= address.postal_code %>
                  </p>
                </div>
                <div class="col-12 d-flex justify-content-around mt-2">
                  <%= link_to "Agregar dirección", new_address_path(client_id: @client.id), class: 'btn btn-outline-primary btn-sm mx-1' %>
                  <%= link_to "Editar direccion", edit_address_path(address), class: 'btn btn-outline-primary btn-sm mx-1' %>
                </div>
              <% end %>
            <% end %>
          <% else %>
            <p>No hay direcciones de entrega disponibles.</p>
            <%= link_to "Agregar dirección", new_address_path(client_id: @client.id), class: 'btn btn-outline-primary btn-sm mx-1' %>
          <% end %>
        </div>
      </div>
    </div>

    <!-- Dirección de Facturación -->
    <div class="col-lg-4 col-md-6">
      <h5>DIRECCIÓN DE FACTURACIÓN</h5>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="billing_same_as_delivery">
        <label class="form-check-label strong-text" for="billing_same_as_delivery">
          USAR LA MISMA DIRECCIÓN DE ENTREGA
        </label>
      </div>
      <div id="billing_address">
        <div class="row">
          <% if @client.addresses.where(address_type: 'billing').any? %>
            <% @client.addresses.where(address_type: 'billing').each do |address| %>
              <% if address.status == true %>
                <div class="col-12">
                  <p>
                    <strong class="strong-text">Nombre:</strong><br>
                    <%= address.street %>
                  </p>
                </div>
                <div class="col-12">
                  <p>
                    <strong class="strong-text">Calle:</strong><br>
                    <%= address.street %>
                  </p>
                </div>
                <div class="col-md-6">
                  <p>
                    <strong class="strong-text">No. exterior:</strong><br>
                    <%= address.ext_number %>
                  </p>
                </div>
                <div class="col-md-6">
                  <p>
                    <strong class="strong-text">No. interior:</strong><br>
                    <%= address.int_number %>
                  </p>
                </div>
                <div class="col-12">
                  <p>
                    <strong class="strong-text">Municipio:</strong><br>
                    <%= address.municipality %>
                  </p>
                </div>
                <div class="col-md-6">
                  <p>
                    <strong class="strong-text">Ciudad:</strong><br>
                    <%= address.city %>
                  </p>
                </div>
                <div class="col-md-6">
                  <p>
                    <strong class="strong-text">Código postal:</strong><br>
                    <%= address.postal_code %>
                  </p>
                </div>
                <div class="col-12 d-flex justify-content-around mt-2">
                  <%= link_to "Agregar dirección", new_address_path(client_id: @client.id), class: 'btn btn-outline-primary btn-sm mx-1' %>
                  <%= link_to "Editar direccion", edit_address_path(address), class: 'btn btn-outline-secondary btn-sm mx-1' %>
                </div>
              <% end %>
            <% end %>
          <% else %>
            <%= link_to "Agregar dirección", new_address_path(client_id: @client.id), class: 'btn btn-outline-primary btn-sm mx-1' %>
          <% end %>
        </div>
      </div>
    </div>
    
  </div>
</div>

<hr class="m-5">

<div class="container">
  <h2>Motocicletas</h2>
  <%= link_to 'Agregar Motocicleta', new_motorcycle_path, class: 'btn btn-primary mt-3 mb-2' %>
  <div class="row m-3">
    <% if @motorcycles.any? %>
      <div class="row">
        <% @motorcycles.each do |motorcycle| %>
          <div class="col-md-4 mb-4">
            <div class="card" style="width: 18rem;">
              <% if motorcycle.motorcycle_picture.present? %>
                <%= image_tag motorcycle.motorcycle_picture, class: 'card-img-top', alt: "Imagen de la motocicleta" %>
              <% else %>
                <img src="https://via.placeholder.com/150" class="card-img-top" alt="Imagen no disponible">
              <% end %>
              <div class="card-body">
                <h5 class="card-title"><%= motorcycle.name %></h5>
                <p class="card-text">
                  <strong>Placa:</strong> <%= motorcycle.plate_number %><br>
                  <strong>VIN:</strong> <%= motorcycle.vin %><br>
                  <strong>Historial de servicios:</strong> <%= motorcycle.service_history %><br>
                  <strong>Kilometraje:</strong> <%= motorcycle.mileage %> km<br>
                  <strong>Estado:</strong> 
                  <% case motorcycle.status %>
                    <% when 'Recepción' %>
                      <span class="badge text-bg-primary"><%= motorcycle.status %></span>
                    <% when 'Diagnóstico Inicial' %>
                      <span class="badge text-bg-secondary"><%= motorcycle.status %></span>
                    <% when 'Asignado Mecánico' %>
                      <span class="badge text-bg-info"><%= motorcycle.status %></span>
                    <% when 'Pendiente de Piezas' %>
                      <span class="badge text-bg-warning"><%= motorcycle.status %></span>
                    <% when 'En Espera de Aprobación del Cliente' %>
                      <span class="badge text-bg-light"><%= motorcycle.status %></span>
                    <% when 'En Reparación' %>
                      <span class="badge text-bg-danger"><%= motorcycle.status %></span>
                    <% when 'Prueba de Rodaje' %>
                      <span class="badge text-bg-success"><%= motorcycle.status %></span>
                    <% when 'Ajuste de Detalles' %>
                      <span class="badge text-bg-dark"><%= motorcycle.status %></span>
                    <% when 'Entrega al Cliente' %>
                      <span class="badge text-bg-success"><%= motorcycle.status %></span>
                    <% when 'Estado Desconocido' %>
                      <span class="badge text-bg-secondary"><%= motorcycle.status %></span>
                    <% else %>
                      <span class="badge text-bg-info"><%= motorcycle.status %></span>
                  <% end %>
                </p>
                <%= link_to "Seleccionar motocicleta", motorcycle_path(motorcycle), class: 'btn btn-outline-primary' %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <p>No tiene motocicletas registradas.</p>
    <% end %>
  </div>
</div>