<div class="container mt-5">
  <%= form_with(model: motorcycle) do |form| %>
    <% if motorcycle.errors.any? %>
      <div class="alert alert-danger">
        <h2><%= pluralize(motorcycle.errors.count, "error") %> prohibited this motorcycle from being saved:</h2>
        <ul>
          <% motorcycle.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row">
      <%if  !@user %>
        <div class="col-md-6">
          <div class="form-group">
            <%= form.label :client_id, "Cliente" %>
            <%= form.select :client_id, Client.all.collect { |client| [client.email, client.id] }, { include_blank: "Selecciona un cliente" }, { class: 'form-control select2' } %>
          </div>
        </div>
      <%else%>
        <%= form.text_field :client_id, class: 'd-none', value: @user %>
      <%end%>
      
      <div class="col-md-6">
        <div class="form-group">
          <%= form.label :name, "Nombre de la moto" %>
          <%= form.text_field :name, class: 'form-control' %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= form.label :motorcycle_picture, "Foto de la moto" %>
          <%= form.file_field :motorcycle_picture, class: "form-control", id: "formFile" %>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <%= form.label :plate_number, "Número de placa" %>
          <%= form.text_field :plate_number, class: 'form-control' %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= form.label :vin, "VIN" %>
          <%= form.text_field :vin, class: 'form-control' %>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <%= form.label :service_history, "Historial de servicio" %>
          <%= form.date_field :service_history, value: Date.today.strftime('%d/%m/%Y'), class: 'form-control' %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= form.label :mileage, "Kilometraje" %>
          <%= form.number_field :mileage, class: 'form-control' %>
        </div>
      </div>

    <div class="col-md-6">
      <div class="form-group">
        <%= form.label :status, "Estado", class: "form-label" %>
        <%= form.select :status, options_for_select([
          "Recepción",
          "Diagnóstico Inicial",
          "Asignado Mecánico",
          "Pendiente de Piezas",
          "En Espera de Aprobación del Cliente",
          "En Reparación",
          "Prueba de Rodaje",
          "Ajuste de Detalles",
          "Entrega al Cliente",
          "Estado Desconocido"
        ]), { prompt: 'Seleccione una opción' }, class: 'form-select' %>
      </div>
    </div>
    

    <div class="form-group">
      <%= form.submit "Guardar moto", class: 'btn btn-primary' %>
    </div>

  <% end %>
</div>