<%= form_with(model: motorcycle) do |form| %>
  <% if motorcycle.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(motorcycle.errors.count, "error") %> prohibited this motorcycle from being saved:</h2>

      <ul>
        <% motorcycle.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.collection_select :client_id, Client.all, :id, :email, prompt: "Selecciona un cliente" %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :plate_number, style: "display: block" %>
    <%= form.text_field :plate_number %>
  </div>

  <div>
    <%= form.label :vin, style: "display: block" %>
    <%= form.text_field :vin %>
  </div>

  <div>
    <%= form.label :service_history, style: "display: block" %>
    <%= form.date_field :service_history, value: Date.today.strftime('%d/%m/%Y'), style: "width: 100%;" %>
  </div>

  <div>
    <%= form.label :mileage, style: "display: block" %>
    <%= form.number_field :mileage %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.select :status, options_for_select([
      "Recepción",
      "Diagnóstico Inicial",
      "Asignado Mecánico",
      "Pendiente de Piezas",
      "En Espera de Aprobación del Cliente",
      "En Reparación",
      "Prueba de Rodaje",
      "Ajuste de Detalles",
      "Entrega al Cliente",
      "Estado Desconocido"
    ]) %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
