<div id="<%= dom_id motorcycle %>">
  <p>
    <strong>Name:</strong>
    <%= motorcycle.name %>
  </p>

  <p>
    <strong>Plate number:</strong>
    <%= motorcycle.plate_number %>
  </p>

  <p>
    <strong>Vin:</strong>
    <%= motorcycle.vin %>
  </p>

  <p>
    <strong>Service history:</strong>
    <%= motorcycle.service_history %>
  </p>

  <p>
    <strong>Mileage:</strong>
    <%= motorcycle.mileage %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= motorcycle.status %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= motorcycle.client_id %>
  </p>

</div>
