<p style="color: green"><%= notice %></p>

<div class="container">
  <div class="row ">
  <h3>Motocicleta:</h3>
    <div class="col-lg-4 col-md-12 mt-5 text-center">
      <% if @motorcycle.motorcycle_picture.present? %>
        <%= image_tag @motorcycle.motorcycle_picture, class: "card-img-top mx-auto d-block img-fluid", style: "max-width: 300px; max-height: auto;" %>
      <% else %>
        <img src="https://via.placeholder.com/150" class="card-img-top mx-auto d-block img-fluid" alt="Imagen no disponible" style="max-width: 300px; max-height: auto;">
      <% end %>
    </div>

    <div class="col-lg-4 col-md-6">
      <%= render @motorcycle %>
      <div class="col-12 d-flex justify-content-start">
        <%= link_to "Editar motocicleta", edit_motorcycle_path(@motorcycle), class: 'btn btn-outline-primary btn-sm mx-1' %>
        <%= button_to "Eliminar", @client, method: :delete, class: 'btn btn-outline-danger btn-sm mx-1' %>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 text-center">
      <%= link_to "Asignar Mecánico", "#", class: "btn btn-primary" %>
    </div>
  </div>
</div>