<p style="color: green"><%= notice %></p>

<p>
<strong>Foto de la motocicleta:</strong>
</p>

<% if @motorcycle.motorcycle_picture.present? %>
  <%= image_tag @motorcycle.motorcycle_picture %>
<% else %>
  <p>No hay foto disponible para esta motocicleta.</p>
<% end %>



<%= render @motorcycle %>

<div>
  <%= link_to "Edit this motorcycle", edit_motorcycle_path(@motorcycle) %> |
  <%= link_to "Back to motorcycles", motorcycles_path %>

  <%= button_to "Destroy this motorcycle", @motorcycle, method: :delete %>
</div>
